@using ClientMVCApartments.ViewModels.Account;
@model UserLogin

<h1>Вход в систему</h1>

<form method="post">
    <div>
        <label asp-for="UserName">Имя пользователя:</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Password">Пароль:</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <button type="submit">Войти</button>
    </div>
</form>