@*@{
    ViewData["Title"] = "My Account";
}

<h1>My Account</h1>
<p>Welcome, <strong>@ViewData["UserName"]</strong>!</p>*@

@model MyAccountModel

@{
    ViewData["Title"] = "My Account";
}

<h1>My Account</h1>
<p>Welcome, <strong>@Model.UserName</strong>!</p>