@model User

@{
    ViewData["Title"] = "My Account";
}

<h1>My Account</h1>
<p>Welcome, <strong>@ViewData["UserName"]</strong>!</p>

<p><a href="@Url.Action("Edit", "Account")">Изменить информацию</a></p>